<div>
  <main>

    <section class="mx-3 my-5">

    </section>

    <section class="mx-3 my-5">

    </section>

    <section class="mx-3 my-5">

    </section>

    <section class="mx-3 my-5">

    </section>

    <section class="mx-3 my-5">

    </section>

    <section class="mx-3 my-5">

    </section>

    <section class="mx-3 my-5">

    </section>

  </main>
</div>