<div>
    <main>

        <section class="mx-3">
            <ol>
                {{#each page}}
                <li>
                    <div class="card m-1">
                        <div class=" card-body">
                            <div class="row">
                                <div class="col-3">
                                    <a class="btn btn-primary my-2" href={{link}} target="_blank"> Page {{name}} </a>
                                </div>
                                <div class="col-9">
                                    Урок: "{{title}}"
                                    <br>
                                    {{description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
        </section>
    </main>
</div>