<nav>
    {{>link text='Skills' href='/skills' line=true}}
    {{>link text='Summary' href='/summary' line=true}}
    {{>link text='Education' href='/edu' line=true}}
    {{>link text='Work' href='/work' line=true}}
    {{>link text='Person' href='/person' line=true}}
    {{>link text='Bio' href='/bio' line=true}}
    {{>link text='program' href='/program' line=true}}
    {{>link text='web' href='/web' line=true}}
</nav>